p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.2rem;
}

footer {
  margin-top: auto;
}
.listIcon {
  font-size: 1.3rem;
}
.mainSection {
  margin: auto;
  display: block;
  width: 90vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
